.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

.homepage_nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 13vw;
    /* padding: 10px 10px; */
    margin: 10px 15px;
}

.homepage_nav > .MuiSvgIcon-root{
    margin-left: 15px;
}

.footer_nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 20px;
}

.nav_left{
    justify-content: space-evenly;
}

.homepage_nav a{
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 15px;
    font-size: 15px;
    color: rgba(0, 0,0, 0.87);
    text-decoration: inherit;
}

.footer_nav a{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    font-size: 15px;
    color: #70757a;
    text-decoration: inherit;
}

.homepage_nav a:hover, .footer_nav a:hover{
    text-decoration: underline;
}



