.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}

.homepage_nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

.footer_nav{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px 20px;
}

.homepage_nav a{
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 15px;
    font-size: 15px;
    color: black;
}

.footer_nav a{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: 15px;
    color: rgba(147, 151, 158,0.9);
}